.fix{
	position: fixed;
	background-color: #ffb60d;
	width: 100%;


}

.header{
	list-style: none;
	float: right;
	text-align: center;
	font-size: 40px;
	color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 40px;
	border:2px solid black;
	background-color: orange;
	margin: 5px 10px 5px 10px;
	
}

body{
	background-color: #ffb60d;
}

.header:hover{
	transform: scale(1.1);
}

.Education{
	font-size: 100px;

}

.education{
	margin-left: 30px;
	font-size: 80px;
}

.smledu{
	font-size: 50px;
	margin-left: 40px;
}
.smleduu{
	font-size: 30px;
	margin-left: 43px;
}
.credit{
	font-size: 25px;
	margin-left: 43px;
}

a{
	color: black;
}

a:active{
	color: black;
}	

a:hover{
	color: red;
}

a:visited{
	color: black;
}

progress{
	color: green;
	border-radius: 20px;
}